body{
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type="text"]{
    width: 50%;
    border: 2px solid darkgrey;
    margin: 10px 1em;
    border-radius: 7px;
}